.header {
    margin-bottom: 0vh;
    flex: 0 0 65px;
}
.navbar{
    padding: 17px 10px;
    height: 65px;
    margin-bottom: 0px;
}
.contents {
    overflow-y: hidden;
    margin-bottom: 0vh;
    flex: 1 1 auto;
    white-space: pre-line;
    height:100%;
}
