.header {
    margin-bottom: 0vh;
    flex: 0 0 65px;
}
.navbar{
    padding: 17px 10px;
    margin-bottom: 0px;
}
.footer {
    margin-bottom: 0vh;
    flex: 0 0 70px;
}
.contents {
    overflow-y: hidden;
    margin-bottom: 0vh;
    flex: 1 1 auto;
}
.scroll {
    overflow-y:auto;
    height:100%;
}
.spinner {
    padding: 300px;
}
.description {
    white-space: pre-line;
}
.description > a,
.description > a:hover,
.description > a:focus {
    color: blue;
    text-decoration: none;
    transition: all 0.3s;
}
table th {
    color: #fff;
    background: #7386D5;
}

.dropdown-toggle::after {
    display: inline-block;
    position: static;
    top: auto;
    right: auto;
    transform: none;
}