html{
    height: 100%;
}

body{
    height: 100%;
}

div#root{
    height: 100%;
    overflow: hidden;
}

div.wrapper{
    height: 100%;
}

div#content{
    padding: 0px;
    min-height:100%;
    height: 100%;
}