/*sidebar　フロア選択*/
#sidebar ul li a.active {
    color: #7386D5;
    background: white;
}
/*sidebar　フロア選択*/
.rounded-circle {
    width:2rem;
    height:2rem;
}

#sidebar ul.components {
    border-bottom: 0px;
}

.header {
    margin-bottom: 0vh;
    flex: 0 0 65px;
}
.footer {
    margin-bottom: 0vh;
    flex: 0 0 70px;
    padding: 20px;
}
.contents {
    overflow-y: hidden;
    margin-bottom: 0vh;
    flex: 1 1 auto;
}
.scroll {
    overflow-y:auto;
    height:100%;
}
a.link {
    color: navy;
    font-weight: bold;
}
a.link:hover {
    color: white;
    font-weight: bold;
}
